body {
    background-image: url("../static/table.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.navbar {
    background-color: #333333;
    text-transform: uppercase;
}

.products_table {
    border: 1px solid black;
    background-color: rgba(256, 256, 256, 0.5);
}

.products_table_center {
    margin-left: auto;
    margin-right: auto;
}

.select-control {
    width: 30vw;
    text-overflow: ellipsis;
}

.select-control_date {
    width: 100%;
    text-overflow: ellipsis;
}

.select-control_small {
    width: 15vw;
    text-overflow: ellipsis;
}

th, td {
    word-break: break-word; /*or you can use word-break:break-all*/
    min-width: 50px; /*set min-width as needed*/
}

.PFC_map {
    font-style: italic; 
    margin-top:0.5rem; 
    margin-bottom:0.3rem;
}

.carousel-item img {
    max-height: 500px; /* input your desired height here */
  }

.carousel_container {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(256, 256, 256, 0.5);
}
